@import url(https://fonts.googleapis.com/css?family=Montserrat);
html{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Montserrat;
}
main{
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
.display-4{
    font-weight: bolder;
    color: rgb(0, 200, 250);
}
.lead{
    font-weight: bolder;
    color: rgb(0, 200, 250);
}